{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "semi": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "arrowParens": "always",
    "printWidth": 120,
    "quoteProps": "as-needed"
}
